<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="5;url={{ .RootDomain }}" />

    <meta name="go-import" content="{{ .CanonicalURL }} git https://{{ .RepoURL }}">
    <meta name="go-source" content="{{ .CanonicalURL }} https://{{ .RepoURL }} https://{{ .RepoURL }}/tree/master{/dir} https://{{ .RepoURL }}/tree/master{/dir}/{file}#L{line}">
    <meta http-equiv="refresh" content="1; url={{ .RootDomain }}">
</head>
<body>
Nothing to see here. Please <a href="{{ .GodocURL }}">move along</a> {{ if .GodocDisabled }} :p {{end}}.
</body>
</html>
